* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

/********************************* Header Section *********************************/
.header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #fff;
  color: white;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #13183e;
  cursor: pointer;
}
.logo a {
  color: #13183e;
}

.btn {
  padding: 13px 35px;
  border: none;
  border-radius: 50px;
  background-color: #13183e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/********************************* Main Section *********************************/
.hero {
  display: flex;
  position: relative;
}

.hero-content1 {
  width: 40%;
  margin-left: 145px;
  margin-top: 110px;
}

.hero-content1 h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 70px;
  color: #13183e;
}

.hero-content1 p {
  width: 470px;
  margin-top: 30px;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  color: #909098;
}

.hero-content1 button {
  padding: 13px 30px;
  margin-top: 60px;
  margin-bottom: 70px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#ff6c4b, #d03b9a);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.hero-img {
  width: 900px;
  position: absolute;
  top: -200px;
  right: -280px;
  z-index: -1;
} 

.hero-img-mobile {
  display: none;
}

.cards {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
}

.card {
  width: 330px;
  height: 330px;
  border-radius: 15px;
  background: #fafbff;
  z-index: 100;
}

.one {
  background: linear-gradient(#ff6c4b, #d03b9a);
  border: none;
}
.one p {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin-top: 60px;
}

.card {
  position: relative;
  padding: 0px 30px;
}

.card h2 {
  margin-top: 60px;
}

.card-des {
  margin-top: 20px;
  color: #909098;
  font-size: 17px;
  font-weight: 400;
}

.get-started {
  position: absolute;
  left: 30px;
  bottom: 35px;
  font-size: 17px;
  font-weight: 500;
  color: #d03b9a;
  cursor: pointer;
  transition: all 0.3s ease;
}
.get-started:hover {
  color: #ff6c4b;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff6c4b, #d03b9a);
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 30px;
}

.icon img {
  width: 25px;
  height: 25px;
}

/********************************* Footer Section *********************************/
footer {
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  background: #13183e;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.footer-btn {
  padding: 13px 35px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#7750bd, #dd37a7);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}


/********************************* Responsive Design *********************************/

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0px 10px;
    align-items: center;
  }

  .navbar {
    width: 100%;
    margin-top: 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-img {
    display: none;
  }

  .hero-content1 {
    width: 90%;
    margin-left: 20px;
    margin-top: 60px;
  }

  .hero-content1 h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-content1 p {
    width: 100%;
    font-size: 16px;
  }

  .hero-img-mobile {
    display: block;
  }

  .cards {
    margin-top: 50px;
  }

  .one {
    height: 150px;
  }

  .one p {
    margin-top: 15px;
  }

  .footer-content {
    width: 90%;
  }
}